body {background-color:#010100} 
h1 {color:#B322A4;font-style:bold;font-family:verdana; font-size:70px}
p {color:#D6EC04;font-style:italic;font-size:30px}
.destacado{font-size:40px; font-style:bold;font-family:georgia; color:#F8450B}
